<h2>Local Requests</h2>
<p/>
<%= render :partial => "list", :locals => { :requests => @local_requests } %>
<p/>

<h2>Other Requests</h2>
<p/>
<%= render :partial => "list", :locals => { :requests => @other_requests } %>
