<h2>Local Supplies</h2>
<p/>
<%= render :partial => "list", :locals => { :supplies => @local_supplies } %>
<p/>

<h2>Other Supplies</h2>
<p/>
<%= render :partial => "list", :locals => { :supplies => @other_supplies } %>
