<p>
	<label for="login"><span class="nowrap">Login:</span></label><br/>
	<%= f.text_field :login, :size => 20, :maxlength => 100 %>
</p>
<p>
	<label for="email"><span class="nowrap">Full name:</span></label><br/>
	<%= f.text_field :name, :size => 20, :maxlength => 100 %>
</p>
<p>
	<label for="email"><span class="nowrap">Email:</span></label><br/>
	<%= f.text_field :email, :size => 20, :maxlength => 100 %>
</p>
<p>
	<label for="email"><span class="nowrap">Cell:</span></label><br/>
	<%= f.text_field :cell, :size => 15, :maxlength => 100 %>
</p>
