<table>
	<% for location in depot.locations %>
		<tr>
			<td style="width: 50px;"><%=h location.name %></td>
			<td style="width: 40px;"><%= link_to "Show", location_path(location) %></td>
		</tr>
	<% end %>
</table>