<h2>Local Depots</h2>
<p/>
<%= render :partial => "list", :locals => { :depots => @local_depots } %>
<p/>

<h2>Other Depots</h2>
<p/>
<%= render :partial => "list", :locals => { :depots => @other_depots } %>

<br />

<%= link_to 'New depot', new_depot_path %>
