<h1>Listing locations</h1>

Total occupancy / capacity : <%= @total_occupancy %> / <%= @total_capacity %>

<p/>
<%= render :partial => "list", :locals => { :locations => @locations } %>

<br />

<%= link_to 'Create location', new_location_path %>